.dashboard {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 40px;
  justify-content: space-around;
}

.filters {
  border: 1px solid red;
  height: 80vh;
  width: 30vw;
}

.chartArea {
  border: 1px solid blue;
  height: 80vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-wrapper {
  padding: 40px;
}